
@import "compass/css3";

/* colors */
$magenta: #DB0A5B;



* {
  font-family: "Avenir", sans-serif;
  margin: 0;
}

/* Logo */
#logo {
  font-size: 10px;
  width: 60px;
  height: 60px;
  display: block;
  background-color: $magenta;
  position: relative;

  img {
    width: 43px;
    height: 48px;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* vertical navigation */

#navigation {
  width: 60px;
  height: 100vh;
  background-color: #333;
  color: white;
  ul {
    list-style: none;
    padding: 10px;
    font-size: 12px;
    li {
      text-align: center;
      margin-bottom: 10px;
    }
    a {
      color: white;
      text-decoration: none;
      line-height: 1.8;

      .nav-button {
        width: 40px;
        height: 40px;
        display: block;
        background: white;
        border-radius: 3px;
        @include transition-property(background-color);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
      }
      span {
        font-size: 10px;
      }
      &:hover {
        .nav-button {
          background-color: $magenta;
        }
      }
    }
  }
}

p {
  line-height: 1.2;
}
