
@import "compass/css3";

/* colors */
$magenta: #DB0A5B;
$ligh-gray: #EFEFEF;
$border-color: #C1C1C1;

/* size units */
$logo-size: 60px;
$main-padding: 20px;
$text-line-heght: 14px;

* {
  font-family: "Avenir", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  min-width: 1024px;
  font-size: 13px;
}

/* container is 100% height or more */
#container {
  height: auto;
  min-height: 100%;
  position: relative;
    /* clear floated elements */
    &:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* vertical navigation */
#navigation {
  width: $logo-size;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;

  /* Logo */
  #logo {
    font-size: 10px;
    width: $logo-size;
    height: $logo-size;
    display: block;
    background-color: $magenta;
    position: relative;

    img {
      width: 43px;
      height: 48px;
      display: block;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  /* vertical nav bar */
  nav {
    ul {
      list-style: none;
      padding: 10px;
      font-size: 12px;
      li {
        text-align: center;
        margin-bottom: 10px;
      }
      a {
        color: white;
        text-decoration: none;
        line-height: 1.8;

        .nav-button {
          width: $logo-size - 2 * 10px;
          height: $logo-size - 2 * 10px;
          display: block;
          background: white;
          border-radius: 3px;
          @include transition-property(background-color);
          @include transition-duration(0.3s);
        }
        span {
          font-size: 10px;
        }
        &:hover {
          .nav-button {
            background-color: $magenta;
          }
        }
      }
    }
  }
}

/* main content */
main {
  margin-left: $logo-size;
  height: auto;
  min-height: 100vh;
  position: relative;
  padding-top: $logo-size;
  /* clear floated elements */
      &:after {
      content: "";
      display: table;
      clear: both;
    }
}

/* header */
header {
  height: $logo-size;
  width: 100%;
  padding: 0 $main-padding;
  box-sizing: border-box;
  background-color: $ligh-gray;
  border-bottom: 1px solid $border-color;
  @include box-shadow($border-color 0px 1px 4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  h2 {
    float: left;
    font-size: 28px;
    font-weight: 200;
    line-height: $logo-size;
  }
  /* hamburger menu */
  #menu-toggle {
    float: right;
    display: block;
    margin-top: $main-padding;
    cursor: pointer;

    span {
      width: 22px;
      height: 4px;
      display: block;
      margin-bottom: 4px;
      background-color: #4D4D4D;
      border-radius: 2px;
      @include transition-property(background-color);
      @include transition-duration(0.3s);
    }
    &:hover {
      span {
        background-color: $magenta;
      }
    }
  }
}

/* list of articles */
#articles-list {
  width: 340px;
  height: auto;
  min-height: 100vh;
  float: left;
  background-color: $ligh-gray;
  border-right: 1px solid $border-color;
  position: relative;
  z-index: 1; /* show underneath header's shadow */

  .article-preview {
    border-bottom: 1px solid $border-color;
    padding: 8px 12px 4px 12px;

    p {
      height: $text-line-heght * 4;
      overflow: hidden;
      position: relative;

      &::after {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $ligh-gray;
      }
    }
  }
}


p {
  line-height: $text-line-heght;
}
