
@import "compass/css3";

/* colors */
$magenta: #DB0A5B;
$ligh-gray: #EFEFEF;

/* size units */
$logo-size: 60px;
$main-padding: 20px;

* {
  font-family: "Avenir", sans-serif;
  margin: 0;
}
body {
  min-width: 1024px;
}

/* vertical navigation */
#navigation {
  width: $logo-size;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;

  /* Logo */
  #logo {
    font-size: 10px;
    width: $logo-size;
    height: $logo-size;
    display: block;
    background-color: $magenta;
    position: relative;

    img {
      width: 43px;
      height: 48px;
      display: block;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  /* vertical nav bar */
  nav {
    ul {
      list-style: none;
      padding: 10px;
      font-size: 12px;
      li {
        text-align: center;
        margin-bottom: 10px;
      }
      a {
        color: white;
        text-decoration: none;
        line-height: 1.8;

        .nav-button {
          width: $logo-size - 2 * 10px;
          height: $logo-size - 2 * 10px;
          display: block;
          background: white;
          border-radius: 3px;
          @include transition-property(background-color);
          @include transition-duration(0.3s);
        }
        span {
          font-size: 10px;
        }
        &:hover {
          .nav-button {
            background-color: $magenta;
          }
        }
      }
    }
  }
}

/* main content */
main {
  margin-left: $logo-size;
}
header {
  height: $logo-size;
  padding: 0 $main-padding;
  background-color: $ligh-gray;
  border-bottom: 1px solid #C1C1C1;
  @include box-shadow(#C1C1C1 0px 1px 4px);
  clear: both;
  h2 {
    float: left;
    font-size: 28px;
    font-weight: 200;
    line-height: $logo-size;
  }
  /* hamburger menu */
  #menu-toggle {
    float: right;
    display: block;
    margin-top: $main-padding;
    cursor: pointer;

    span {
      width: 22px;
      height: 4px;
      display: block;
      margin-bottom: 4px;
      background-color: #4D4D4D;
      border-radius: 2px;
      @include transition-property(background-color);
      @include transition-duration(0.3s);
    }
    &:hover {
      span {
        background-color: $magenta;
      }
    }
  }
}

/* header */

p {
  line-height: 1.2;
}
