/* colors */
/* size units */
/* line 16, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
* {
  font-family: "Avenir", sans-serif;
  margin: 0;
}

/* line 21, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
html, body {
  height: 100%;
}

/* line 24, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
body {
  min-width: 1024px;
  font-size: 12px;
}

/* container is 100% height or more */
/* line 30, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#container {
  height: auto;
  min-height: 100%;
  position: relative;
  /* clear floated elements */
}

/* line 35, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical navigation */
/* line 42, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation {
  width: 60px;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  /* Logo */
  /* vertical nav bar */
}

/* line 53, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation #logo {
  font-size: 10px;
  width: 60px;
  height: 60px;
  display: block;
  background-color: #DB0A5B;
  position: relative;
}

/* line 61, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation #logo img {
  width: 35px;
  height: 40px;
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* line 74, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul {
  list-style: none;
  padding: 10px;
  font-size: 11px;
}

/* line 78, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul li {
  text-align: center;
  margin-bottom: 10px;
}

/* line 82, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul a {
  color: white;
  text-decoration: none;
  line-height: 1.8;
}

/* line 87, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul a .nav-button {
  width: 40px;
  height: 40px;
  display: block;
  background: white;
  border-radius: 3px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 96, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul a span {
  font-size: 9px;
}

/* line 100, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#navigation nav ul a:hover .nav-button {
  background-color: #DB0A5B;
}

/* main content */
/* line 110, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
main {
  margin-left: 60px;
  height: auto;
  min-height: 100vh;
  position: relative;
  /* clear floated elements */
}

/* line 116, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}

/* main header */
/* line 124, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-header {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #F1F1F1;
  border-bottom: 1px solid #DEDEDE;
  -webkit-box-shadow: #DEDEDE 0px 1px 3px;
  -moz-box-shadow: #DEDEDE 0px 1px 3px;
  box-shadow: #DEDEDE 0px 1px 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* hamburger menu */
}

/* line 136, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-header h2 {
  float: left;
  font-size: 24px;
  font-weight: 200;
  line-height: 60px;
  color: #4D4D4D;
}

/* line 144, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-header #menu-toggle {
  float: right;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

/* line 150, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-header #menu-toggle span {
  width: 22px;
  height: 4px;
  display: block;
  margin-bottom: 3px;
  background-color: #4D4D4D;
  border-radius: 2px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 161, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-header #menu-toggle:hover span {
  background-color: #DB0A5B;
}

/* list of articles */
/* line 169, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list {
  width: 340px;
  height: auto;
  min-height: 100vh;
  float: left;
  background-color: #F1F1F1;
  border-right: 1px solid #DEDEDE;
  position: relative;
  z-index: 1;
  /* show underneath header's shadow */
}

/* line 179, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list .article-preview {
  border-bottom: 1px solid #DEDEDE;
  padding: 8px 12px 6px 12px;
}

/* line 183, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list .article-preview:first-child {
  padding-top: 68px;
}

/* line 186, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list .article-preview h4 {
  margin-bottom: 3px;
}

/* line 189, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list .article-preview p {
  height: 56px;
  overflow: hidden;
  position: relative;
}

/* line 194, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#articles-list .article-preview p::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #F1F1F1;
}

/* article */
/* line 206, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article {
  padding: 60px 20px 0 20px;
  margin-left: 340px;
  /* article header */
  /* initial letter */
}

/* line 211, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article header {
  width: 680px;
  border-bottom: 1px solid #DEDEDE;
  padding: 20px 0 10px 0;
  margin-bottom: 16px;
}

/* line 216, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article header h3 {
  font-size: 18px;
}

/* line 219, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article header span {
  font-size: 14px;
  font-style: italic;
}

/* line 225, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article p {
  margin-bottom: 10px;
}

/* line 229, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article .first-letter {
  line-height: 20px;
  font-size: 34px;
  padding: 6px 3px 0 0;
  margin-left: -2px;
  float: left;
}

/* line 237, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article figure {
  margin: 26px 0 22px 0;
}

/* line 239, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article figure img {
  width: 500px;
  height: 200px;
  display: block;
  background-color: #AAAAAA;
  margin: 0 auto;
}

/* line 246, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#main-article figure figcaption {
  text-align: center;
  font-size: 10px;
  font-style: italic;
  line-height: 20px;
}

/* message section */
/* line 257, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#message {
  width: 100%;
  padding: 20px 20px 20px 360px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  border-top: 1px solid #DEDEDE;
}

/* line 265, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#message input {
  height: 44px;
  line-height: 44px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 18px;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
}

/* line 275, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#message input:focus {
  outline: none;
}

/* line 279, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
#message input::placeholder {
  color: #b8b8b8;
}

/* line 285, /Users/Skvo/Projects/interview_exercises/dna/scss/style.scss */
p {
  line-height: 14px;
}

/*# sourceMappingURL=../css/style.map */